<% provide(:title, "About") %>
  <h1>About</h1>
  <p>
    The <a href="http://www.propman.my/"><em>PropMan Property Management App</em></a> is a
    <a href="http://www.propman.my/about">Property Management</a> application
    to help users with managing their properties portfolios.
  </p>
