<% provide(:title, "Help") %>
  <h1>Help</h1>
  <p>
    Get help on the PropMan Property Management application at the
    <a href="http://www.propman.my/help">PropMan</a> help page.
    To get help on this property management app, contact us at the
    <a href="http://www.propman.my/contact"><em>Property Management </em>
    </a>PropMan contact page.
  </p>
